header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: orange;
}

ul{
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
}
.PRIMERAFILA{
    display: flex;
    justify-content: space-between;
}
section{
    background-color: orange;
}